.custom-msg-wrapper{
     margin-top: 30px;
     grid-column: span 2;
     grid-row: 4;
     display: flex;
     align-items: center;
     gap: 15px;
}

.custom-msg-wrapper textarea{
    background-color: #04010F;
    color: #71A9B2;
    font-family:'Roboto', sans-serif;
    font-size: x-small;
    width: 287px;
    height: 50px;
    border-bottom: 2px solid #C7CDE0
}

.in-honor-memory-wrapper{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}

.honor-form-wrapper{
    width: 500px;
    display: grid;
    margin-right: 200px;
    grid-template-columns: span 4;
    grid-template-rows: auto;
}

.honor-dropdwn-wrapper{
    grid-column: span 4;
    display: flex;
    gap: 72px;
}

.honoree-fields-wrapper{
    
    font-size: large;
    
}

.honoree-name-field{
    margin-top: 30px;
    font-size: large;
    grid-column: span 3;
    grid-row: row 2;
    display: flex;
    flex-direction: row;

    gap: 40px;
    align-items: center;
    width:500px;
}

.submit-stp-wrapper{
    /* display: flex;
    justify-content: flex-end; */
    margin-left: 390px;
    margin-top: 30px;
    grid-row: 6;
 }

.recipient-name-field{
    margin-top: 30px;
    font-size: large;
    grid-column: span 3;
    grid-row: row 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    width:500px;
}

.recipient-name-field :nth-child(3){
    margin-left: 10px;
}


.recipient-name-field :nth-child(2){
    margin-left: 5px;
}

.submit-btn{
    grid-column: 4;
    z-index: 100;
    margin-left: 5px;
    position: absolute;
}

.honoree-email :nth-child(2){
    margin-left: 14px;
}