
body{
  background-color: #B6ACAC;
  font-family: 'Roboto', sans-serif;
}

.App{
  margin: 15px 0 25px 25px;
}

.app-title{

  font-weight: 500;
  padding: 0;
  margin: 0;
}

.sub-title{
  font-weight: 400;
}

.main-form{
  margin-top: 40px;
 
}

.form-wrapper{
  display: grid;
  grid-gap: 1fr;
  grid-template-columns: 150px 10px 150px 150px;
  grid-template-rows: auto;
  justify-content: start;
  margin: 0;

}

.field-name{
  font-size: large;
  grid-column: span 1;
  grid-row: row ;
  align-self: start;
  
}
/* 
.field-section{

} */

.long-dropdown-position{
  grid-column:  span 3 ;
  grid-row: row;
  align-self: end;
 
}

.dropdown-options{
  grid-column:  span 3 ;
  grid-row: row;
  align-self: start;
}

.template-field-name{
  
  font-size: large;
  grid-column: span 1;
  grid-row: row ;
  
  align-self: start;
}


.donor-name-wrapper{
  margin-top: 30px;
  font-size: large;
  grid-column: span 3;
  grid-row: row 2;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 23px;
  align-items: center;
  width: 570px;
  /* grid-template-columns: 150px 10px 150px 150px;
  grid-template-rows: 1; */
}

.input-field-position{

  grid-column: span 2; 
  grid-row: row 1;
}

.step{
  font-weight: 400;
  color: #71A9B2;
  background-color: rgb(4, 1, 15);
  padding: 5px 0 5px 6px;
  width: 445px;
  border-radius: 5px;
}

.standard-field-color{
  background-color: #04010F;
  color: #71A9B2;
  border-bottom: 2px solid rgb(199, 205, 224);
}