/* dont touch positioning here */

.long-dropdown{
   
}

.dropdown-wrapper{
    font-family: 'Roboto', sans-serif;
 
   
}

.dropdown-wrapper button{
    background-color: #04010F;
    border: none;
    height: 30px;
    width: 300px;
    color: #71A9B2;
    border-bottom: 2px solid rgb(199, 205, 224);
    padding: 1px 0 1px 0;
}

.dropdown-options{
    cursor: pointer;
    margin-top: 0;
    width: 300px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

.dropdown-options li{
    
    padding: 7px;
    font-weight: 400;
    font-size: small;
    color: #71A9B2;
    background-color:  #0a0225;

    border: 2px solid rgb(199, 205, 224);
    border-right: none;
    border-left:none;
    border-top: none;
}

.tax-para-wrapper{
    margin-top: 30px;
    font-size: large;
    grid-column: span 2;
    grid-row: row 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    gap: 28px;
}

.incomplete-dropdown{
    border-top: 3px solid red;
  }
  

/* new drop down color  background-color: #08021d;; 

new background color for fields #04010F */


